body{
    background-color: rgba(211, 228, 235, 0.856);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#titulo {
    font-size: 60px; 
    margin: 25px 0 10px 0;
}

#subtitulo {
    font-size: 30px;
}

form{
    width:400px;
    height:300px;
    background-color: rgba(200, 223, 238, 0.856);
    border: 1px #15435ebd solid;  
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px #000000 solid;   
}

label {
    margin-top: 10px;
    
}

button{
    height: 50px;
    width: 300px;
    background-color: #15435ebd;
    cursor: pointer;
    border: 1px #000000 solid;
    color: #ffffff;
    font-size: 15px;
    margin-top: 20px ;
}

button:hover{
    background-color: #439accbd;
}

#mensagem{
    font-size: 16px;
}